:root {
  --font-mono:   
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --softPeach: #dac5b4;
  --lightBeige: #f3e4d9;
  --taupe:#30271f;
  --coral:#e8c8b7;
  --terracota: #d6a692;

}

.grid{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 15px;
}
.card{
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;

  background-color: var(--softPeach);
  border-radius: 15px;
  color: var(--taupe);
  font-family: var(--font-mono);

}
.none{
  display: none;
}
.main__header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
}
.card__header{
  font-size: 2rem;
}
.card__price{
  font-weight: 800;
}
.btn{
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 0;
  background-color: var(--softPeach);
  margin-block: 20px;
  cursor: pointer;
}
.product{
  display: flex;
}
.product > *{
  flex: 1;
}
.featured{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  transform: rotate(45deg);
  padding: 25px;
  border-radius: 50%;
}
.product img{
  max-height: 500px;
  max-width: 500px;
  margin-inline: 50px;
}
.product__details{
  padding: 50px;
}
.product__card_header{
  font-size: 3rem;
  font-weight: 800;
}
.product__card_price{
  font-size: 2rem;
  font-weight: 800;
}
/*modal*/

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  margin-bottom: 10px;
  width: 100%;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/*modal*/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--lightBeige))
    )
    rgb(var(--terracota));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
